Pods/Pods.xcodeproj/xcuserdata/vkostechko.xcuserdatad/xcschemes/xcschememanagement.plist
TutReader.xcodeproj/xcuserdata/vkostechko.xcuserdatad/xcschemes/TutReader.xcscheme
TutReader.xcodeproj/xcuserdata/vkostechko.xcuserdatad/xcschemes/xcschememanagement.plist
TutReader.xcworkspace/xcshareddata/TutReader.xccheckout
TutReader.xcworkspace/xcuserdata/vkostechko.xcuserdatad/UserInterfaceState.xcuserstate
